<ion-header>
  <ion-toolbar color="primary">
      <ion-button routerLink="/home" routerDirection="backward">
          <ion-icon size="large" ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
        </ion-button>
    <ion-title>{{news[selectedID].title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="news[selectedID].picture"></ion-img>
  <p>{{news[selectedID].content}}</p>
  <br>
  <p>Bu haber {{news[selectedID].views}} kez görüntülendi.</p>
  <ion-button [disabled]="liked"  (click)="like()">
    <ion-icon color="success"  ios="ios-thumbs-up" md="md-thumbs-up" slot="start"></ion-icon>{{news[selectedID].liked}}
  </ion-button>
  <ion-button [disabled]="disliked"  (click)="dislike()">
    <ion-icon color = "danger" ios="ios-thumbs-down" md="md-thumbs-down"></ion-icon>{{news[selectedID].disliked}}
  </ion-button>
  
</ion-content>

